@keyframes growAnimation {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.project-animate {
  animation: growAnimation 0.5s ease-in-out forwards;
}
