<ion-tabs>
  <ion-tab-bar slot="bottom" class="shadow-black shadow-xl">
    <ion-tab-button tab="intro" href="/tabs/intro">
      <ion-icon aria-hidden="true" [icon]="homeOutline"></ion-icon>
      <ion-label>Intro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="career" href="/tabs/career">
      <ion-icon aria-hidden="true" [icon]="bagHandleOutline"></ion-icon>
      <ion-label>Career</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about-me" href="/tabs/about-me">
      <ion-icon aria-hidden="true" [icon]="atCircleOutline"></ion-icon>
      <ion-label>About Me</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
