@if (!hasNotch()) {
  <!-- Android without Notch -->
  <ion-header
    class="h-[12vh] pt-[env(safe-area-inset-top)] bg-banner bg-cover bg-center bg-no-repeat flex"
  >
    <img
      src="assets/pictures/me-white.png"
      alt="Jaime Lovera"
      class="h-16 w-16 rounded-[100%] ml-6 mt-4"
    />
  </ion-header>
} @else {
  <!-- iOS with Notch -->
  <ion-header
    class="h-[16vh] pt-[env(safe-area-inset-top)] bg-banner-notch bg-cover bg-center bg-no-repeat flex"
  >
    <img
      src="assets/pictures/me-white.png"
      alt="Jaime Lovera"
      class="h-16 w-16 rounded-[100%] ml-6 mt-0"
    />
  </ion-header>
}
