<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>
  <ion-item class="m-4">
    <ion-label>
      <h1 class="animate-fade-up animate-ease-out">Profile</h1>
      <p class="whitespace-normal animate-fade-left animate-delay-100 !mt-6">
        After studying Industrial Engineering for a few years, I found my love for programming and
        making mobile apps. Since then, I've been fully dedicated to becoming the best at what I do.
        I'm friendly, and I'm good at staying calm and solving problems
      </p>
    </ion-label>
  </ion-item>
  <ion-item class="m-4">
    <ion-label>
      <h1 class="animate-fade-up animate-ease-out">Education</h1>
      <ion-list class="whitespace-normal !mt-6">
        <ion-item class="animate-fade-left animate-delay-300">
          <ion-label>
            <h3>University (2014 - 2018)</h3>
            <p class="whitespace-normal !mt-2">Industrial Engineering at ETSI Sevilla</p>
            <a class="whitespace-normal !mt-2" href="https://goo.gl/maps/ZrnpfdsXFVnnsnrZ7">
              <ion-icon [icon]="locationOutline" aria-hidden="true"></ion-icon>
              ETSI Sevilla
            </a>
          </ion-label>
        </ion-item>
        <ion-item class="animate-fade-left animate-delay-500" lines="none">
          <ion-label>
            <h3>Higher Degree (2018 - 2020)</h3>
            <p class="whitespace-normal !mt-2">
              Higher Degree in Development of Multiplatform Applications
            </p>
            <a class="whitespace-normal !mt-2" href="https://goo.gl/maps/DHerFiRLjgUJahPY9">
              <ion-icon [icon]="locationOutline" aria-hidden="true"></ion-icon>
              IES Francisco de los Ríos
            </a>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-label>
  </ion-item>
</ion-content>
